<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="csvPath" value="time_series_60min_singleindex.csv"/>
		<add key="countryCode" value="DE"/>
		<add key="selectedDate" value="2018-09-23"/>
	</appSettings>

	<system.serviceModel>

		<bindings>
			<netTcpBinding>
				<binding name="streamingBinding"
						 maxReceivedMessageSize="67108864"
						 maxBufferPoolSize="67108864"
						>
				</binding>
			</netTcpBinding>
		</bindings>

		<client>
			<endpoint name="ConsumptionServiceEndpoint"
					  address="net.tcp://localhost:4000/ConsumptionService"
					  binding="netTcpBinding"
					  bindingConfiguration="streamingBinding"
					  contract="Common.IConsumptionService" />
		</client>

	</system.serviceModel>
</configuration>