<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="dataPath" value="Data"/>
	</appSettings>

	<system.serviceModel>

		<bindings>
			<netTcpBinding>
				<binding name="streamingBinding"
						 maxReceivedMessageSize="67108864"
						 maxBufferPoolSize="67108864"
						 transferMode="Streamed">
				</binding>
			</netTcpBinding>
		</bindings>

		<services>
			<service name="Service.ConsumptionService">
				<endpoint
				  address="ConsumptionService"
				  binding="netTcpBinding"
				  bindingConfiguration="streamingBinding"
				  contract="Common.IConsumptionService" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000" />
					</baseAddresses>
				</host>
			</service>
		</services>

	</system.serviceModel>
</configuration>