<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="dataPath" value="Data" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	  <add key="UnderConsumptionAlpha" value="0,5" />
	  <add key="OverConsumptionBeta"   value="1,5" />
	  <add key="SpikeDeltaMW"          value="3000" />
	  <add key="DailyLimitMW"          value="1000000" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="streamingBinding" maxReceivedMessageSize="67108864" maxBufferPoolSize="67108864">
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Service.ConsumptionService">
        <endpoint address="ConsumptionService" binding="netTcpBinding" bindingConfiguration="streamingBinding" contract="Common.IConsumptionService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>